# Node modules
node_modules/

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# npm package lock files (unnecessary if you're using yarn)
package-lock.json

# Jest configuration (if not using it)
coverage/

# TypeScript type definition output
*.d.ts

# Github
.gitattributes